if has("syntax")
  syntax on
endif

" Some Linux distributions set filetype in /etc/vimrc.
" Clear filetype flags before changing runtimepath to force Vim to reload them.
filetype off
"filetype plugin indent off
"filetype plugin indent on
"filetype on

" turn tab into 4-space
set showmatch
set tabstop=4
set shiftwidth=4
set expandtab

" required to enable inline vim mode setting in files
set modeline
set modelines=5
