{{ ansible_managed | comment }}
{% if install_gpg %}
export PATH=/usr/local/gnupg-2.1/bin:$PATH
{% endif %}

# MacOSX does not honor bash_aliases file unlike Ubuntu.
# To make this rule more consistent, we set the alias file
# u+x permission, and then load the file as the shell
# loads this profile.
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi
