{% if ansible_distribution == "Ubuntu" %}
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
{% endif %}

{% if install_cf is defined and install_cf and cf_bash_aliases is defined %}
{% for item in cf_bash_aliases %}
alias login-{{ item }}='{{ item.command }}'
{% endfor -%}
{% endif -%}
