{{ ansible_managed | comment }}
# Interval which SSH sends 'ping' to check connection health
ServerAliveInterval {{ ssh_client_cofnig.server_alive_interval }}
ServerAliveCountMax {{ ssh_client_config.server_alive_count_max }}

{% for _, host in ssh_host_config.items %}
Host {{ host.name }}
    HostName        {{ host.ip }}
    user            {{ host.ssh_user }}
    IdentityFile    {{ host.ssh_key }}
{% if host.proxy_command is defined -%}
    ProxyCommand    {{ host.proxy_command }}
{% endif -%}
{% endfor %}
