{{ ansible_managed | comment }}
[user]
    name = {{ git_author_name }}
    email = {{ git_author_email }}
#    signingkey = {{ git_author_signing_key }}
[core]
    editor = {{ git_editor }}
[color]
    ui = auto
#[commit]
#    gpgsign = true
